*.log
*.pyc
.cache/
.coverage
.idea/
.vscode/
*.egg-info/
build/
dist/
docs/build/
venv/
wheelhouse/
*.png
*.eggs
*.swp
*.zip
.mypy_cache/
*.egg-info/
htmlcov/
*.DS_Store
.venv/
html/
pages/
examples/shouldi/response.json
examples/notebooks/.ipynb_checkpoints/
docs/plugins/service/http
*pip-wheel-metadata/
*.gz
doctest/
*.mnistpng
docs/plugins/dffml_*.rst
docs/api/**
docs/changelog.md
docs/shouldi.md
docs/contributing/consoletest.md
/consoletest/
tests/service/logs/
tests/notebooks/data/
.venv39/
.venv37/
.DS_Store
.output
.output*
