language: python
dist: xenial
python:
- '3.7'
addons:
  apt:
    packages:
    - git
    - subversion
    - cloc
    - openssl
services:
- docker
env:
  global:
  - LOGGING=debug
  - secure: "HFt5s9J80XaUoIxfXRTd7ysJRQXX6We38XZ8z6ex01OqAGix027obDmarWzoi917o7IOtsLybn2gX+4oYvlENv45n52FoX/A1dmfA/JNfixZ5zEu+KsCnT3xynUgIvkxmiTUTm+BjpS1uvFBYSOLMyy2g3PArQ6te5Mgxxnks1rogNdhJlB0mp1J1zif8jL5wdjg0i6mSNsNKwPt/h1NnBC6spwhqSySFxUUNpRJjgwwtGalC2/MogA/fkOGmbG+ihu/5MR7rq9p91EyUtfqhFB1deKn7fkMWcvbOQ1aPjnZB16nPp5L8rjnmUgKRu1WXS6kaNP0ZMz62sjzJmVUTpdTdCAabRf4EAcK3WXGxYl2sqnp8U5S1UhkFlWSvAOESF8BAMenunYnV6GufT0k/JOulTPeVrw6EBlKHBGVkeUiNQxOVek4k38jvZrOM8FbfrYtNCGoqTD7IPEV2Ipib03oee1g5zlUoZMFKbpZMnmd85R1XaOC86bxh7obIHUxGUs5kvnUFpCOcQf8rdF4N+QRKoo9XBC2sulvUCbTrl4N+OyZEEvbnvHNpPBW+nwyXyM+liRaxArvfQFznrUswSiGCj+hm6vvnSwy0y0GnfmwUNz4pTPK1Nu/dOfqh9BmPWd63yb33Y2fI62pHgTZ2cZ5h6zIgWTWYtv9C2RtdYU="
  matrix:
  - PLUGIN=.
  - PLUGIN=examples/shouldi
  - PLUGIN=model/tensorflow
  - PLUGIN=model/scratch
  - PLUGIN=model/scikit
  - PLUGIN=source/mysql
  - PLUGIN=feature/git
  - PLUGIN=feature/auth
  - PLUGIN=source/hdfs
  - PLUGIN=service/http
  - CHANGELOG=1
  - WHITESPACE=1
  - STYLE=1
cache:
  directories:
    - /home/travis/.cache/
    - /home/travis/.local/
before_install:
- docker pull mariadb:10
- mkdir -p /home/travis/.cache/
- mkdir -p /home/travis/.local/bin/
- pip install coverage codecov sphinx sphinxcontrib-asyncio black sphinx_rtd_theme
- curl -sSL https://github.com/XAMPPRocky/tokei/releases/download/v9.1.1/tokei-v9.1.1-x86_64-unknown-linux-gnu.tar.gz | tar xvz -C "$HOME/.local/bin/"
script:
- ./.ci/run.sh
after_success:
- |
  if [ "x$PLUGIN" = "x." ]; then
      codecov
  fi
