chadig.com:8080 {
  tls off
  redir 301 {
    /  https://{host}{uri}
  }
}

chadig.com:4443 {
  root /sites/chadig/blog
  index index.md
  ext .md
  markdown {
    template default templates/default.html
  }
}

dffml-webhook.chadig.com:4443 {
  status 200 /
}

dataflow.ml:8080 {
  tls off
  redir 301 {
    /  https://{host}{uri}
  }
}

dataflow.ml:4443 {
  redir https://intel.github.io/dffml
}
