*/LICENSE
*/.gitignore
*/.coveragerc
*/setup_common.py
*/pyproject.toml
*/MANIFEST.in
*/REPLACE_IMPORT_PACKAGE_NAME/version.py
*/REPLACE_IMPORT_PACKAGE_NAME/__init__.py
*/tests/__init__.py
!common/**
