*.log
*.pyc
.cache/
.coverage
.idea/
.vscode/
*.egg-info/
build/
dist/
docs/build/
venv/
wheelhouse/
*.egss
.mypy_cache/
*.swp
.venv/
.eggs/
*.modeldir
*.db
htmlcov/
tests/downloads/golangci-lint-download/
tests/downloads/javascript_algo-download/
tests/downloads/npm-audit-download/
tests/downloads/cargo-audit-download/
tests/downloads/rust-download/
tests/downloads/crates-download/
tests/downloads/java-download/
tests/downloads/dependency_check-download/
tests/downloads/RxJava-download/
tests/downloads/golang-download/
tests/downloads/cri-resource-manager-download/
